<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modify Password</title>
    <meta name="description" content="">
    <meta name="author" content="templatemo">
    <!--
    Visual Admin Template
    http://www.templatemo.com/preview/templatemo_455_visual_admin
    -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700' rel='stylesheet' type='text/css'>
    <link href="input/css/font-awesome.min.css" rel="stylesheet">
    <link href="input/css/bootstrap.min.css" rel="stylesheet">
    <link href="input/css/templatemo-style.css" rel="stylesheet">


</head>
<body class="light-gray-bg">
<!-- Main content -->
<div class="templatemo-content col-1 light-gray-bg">

    <div class="templatemo-content-container" id="app">
        <div class="templatemo-content-widget white-bg">
            <h2 class="margin-bottom-10 text-center">Modify Password</h2>
            <p class="text-center">Please input your current password and input new password.</p>
            <form action="" class="templatemo-login-form" method="post" enctype="multipart/form-data">
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-md-offset-5 col-lg-offset-5 form-group">
                        <label for="oldPassword">Old Password</label>
                        <input v-model="beforePassword" type="password" class="form-control" id="oldPassword">
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-md-offset-5 col-lg-offset-5 form-group">
                        <label for="newPassword">New Password</label>
                        <input v-model="afterPassword" type="password" class="form-control" id="newPassword" >
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2 col-md-2 col-md-offset-5 col-lg-offset-5 form-group">
                        <label for="reNewPassword">New Password</label>
                        <input v-model="rePassword" type="password" class="form-control" id="reNewPassword" >
                    </div>
                </div>


                <div class="form-group text-center">
                    <button type="button" class="templatemo-blue-button" @click="update">Update</button>
                    <button type="button" class="templatemo-white-button" @click="back">&nbsp;Back&nbsp;</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- JS -->
<script type="text/javascript" src="input/js/jquery-3.3.1.min.js"></script>        <!-- jQuery -->
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="../res/static/js/vue/modifyPassword.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<script src="../res/static/js/vue/common.js"></script>
<script type="text/javascript" src="input/js/bootstrap-filestyle.min.js"></script>  <!-- http://markusslima.github.io/bootstrap-filestyle/ -->
<script type="text/javascript" src="input/js/templatemo-script.js"></script>        <!-- Templatemo Script -->
</body>
</html>
